* {
    margin: 0;
    box-sizing: border-box;
}

body {
    
    overflow: hidden;
}

/* #display-box {
    height: 100vh;
    width: 100vw;
    
} */

#room {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: radial-gradient(rgb(177, 129, 85),rgb(131, 55, 36));
    z-index: 1;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 1;
 

}

#window1 {
    width: 70rem;
    height: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgb(84, 106, 109),darkslategray) ;
    position: fixed;
    z-index: 1;
   

}

#sky{
width: 100vw;
height: 75vh;
background-color: rgb(141, 211, 211);
position: fixed;
left: 0;
top: 0;
z-index: -2;

}

#hills {
    width: 100vw;
    height: 25vh;
    background-color: rgb(115, 145, 64);
    position: fixed;
    bottom: 0;
    z-index: -1;
    
}

#machine{
    width: 300px;
    height: 300px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background-color: rgb(83, 83, 83);
    box-shadow: inset 0 0 5rem black;
    position: fixed;
    left: 900px;
    top: 700px;
    z-index: -1;
    
}

/* #barrel{
   content: "";
    position: relative; 
    left: 25%;
    top: 25%;
    width: 10rem;
    height: 10rem;
    background-color: rgb(83, 83, 83);
    box-shadow: inset 0 0 2rem black;
    border-radius: 50%;
} */

.move-through{
    animation: move-through 5s;
    animation-fill-mode: forwards;
}
.scale-up{
    animation: scale-up 5s;
    animation-fill-mode: forwards;
}

.cloud{
    width: 50px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    background-color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    
}

@keyframes move-through {
    0%{opacity: 100%; scale: 1;}
   50%{scale: 1.5;}
    100%{opacity: 0%;scale: 1.5;display: none;}
}

@keyframes scale-up {
    0%{ scale: 1;}
   50%{scale: 1.5;}
   99%{opacity: 100%;}
    100%{ opacity: 0;display:none;}
}



